.dashboard {
    display: flex;
    flex-direction: column;
  }
  
  .chart-con {
    height: 300px;
  }
  
  @media (min-width: 768px) {
    .chart-con {
      height: 400px;
    }
  }
  
  .income p, .expense p, .balance p {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  @media (min-width: 768px) {
    .income p, .expense p, .balance p {
      font-size: 2rem;
    }
  }
  
  .balance p {
    color: var(--color-green);
    opacity: 0.6;
  }
  
  .history-con h2 {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .salary-title {
    font-size: 1rem;
  }
  
  .salary-item {
    background: #FCF6F9;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .salary-item p {
    font-weight: 600;
    font-size: 1.2rem;
  }